$primary-color: white;
$bg: black;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
}

#map {
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}